# Environment files
.env
.env.local
.env.*
!.env.example

# Binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output files
*.out

# Go workspace file
go.work

# IDE specific files
.idea/
.vscode/
*.swp
*.swo


tmp/
.air.toml
client.properties